.parallax-section {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/plano-isd-academy-high-school-plano-tx.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 

  position: relative;
}

.parallax-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.parallax-section > div {
  position: relative;
  z-index: 1;
}

.has-activity {
  background: #d1e7dd !important; /* light green */
  border-radius: 6px;
  font-weight: bold;
}

.has-activity::after {
  content: "•";
  color: #198754;
  font-size: 18px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.big-calender {
  transform: scale(1.3);
  transform-origin: top left;
}

.custom-bg {
  background-color: #3eb4e6;
}